{% if service_config.routers is defined %}
{% if service_config.protocol is defined and service_config.protocol == 'tcp' %}
tcp:
{% else %}
http:
{% endif %}
  routers:
{% for router_name, router_config in service_config.routers.items() %}
    {{ router_name }}:
      rule: "{{ router_config.rule }}"
      service: "{{ router_config.service }}"
{% if router_config.entrypoints is defined %}
      entrypoints:
{% for entrypoint in router_config.entrypoints %}
        - "{{ entrypoint }}"
{% endfor %}
{% endif %}
{% if router_config.middlewares is defined %}
      middlewares:
{% for middleware in router_config.middlewares %}
        - "{{ middleware }}"
{% endfor %}
{% endif %}
{% if router_config.tls is defined %}
      tls:
{% if router_config.tls.certResolver is defined %}
        certResolver: "{{ router_config.tls.certResolver }}"
{% endif %}
{% if router_config.tls.options is defined %}
        options: "{{ router_config.tls.options }}"
{% endif %}
{% if router_config.tls.passthrough is defined %}
        passthrough: {{ router_config.tls.passthrough | lower }}
{% endif %}
{% if router_config.tls.stores is defined %}
        stores:
{% for store in router_config.tls.stores %}
          - "{{ store }}"
{% endfor %}
{% endif %}
{% if router_config.tls.domains is defined %}
        domains:
{% for domain in router_config.tls.domains %}
          - main: "{{ domain.main }}"
{% if domain.sans is defined %}
            sans:
{% for san in domain.sans %}
              - "{{ san }}"
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}

{% endif %}
{% if service_config.services is defined %}
  services:
{% for service_name, service_data in service_config.services.items() %}
    {{ service_name }}:
{% if service_data.loadBalancer is defined %}
      loadBalancer:
{% if service_data.loadBalancer.servers is defined %}
        servers:
{% for server in service_data.loadBalancer.servers %}
{% if server.url is defined %}
          - url: "{{ server.url }}"
{% else %}
          - address: "{{ server.address }}"
{% endif %}
{% if server.weight is defined %}
            weight: {{ server.weight }}
{% endif %}
{% endfor %}
{% endif %}
{% if service_data.loadBalancer.healthCheck is defined or service_data.loadBalancer.healthcheck is defined %}
        healthCheck:
{% set healthcheck_config = service_data.loadBalancer.healthCheck | default(service_data.loadBalancer.healthcheck) %}
{% if healthcheck_config.path is defined %}
          path: "{{ healthcheck_config.path }}"
{% endif %}
{% if healthcheck_config.protocol is defined %}
          protocol: {{ healthcheck_config.protocol }}
{% endif %}
{% if healthcheck_config.interval is defined %}
          interval: "{{ healthcheck_config.interval }}"
{% endif %}
{% if healthcheck_config.timeout is defined %}
          timeout: "{{ healthcheck_config.timeout }}"
{% endif %}
{% endif %}
{% if service_data.loadBalancer.sticky is defined %}
        sticky:
          cookie:
            name: "{{ service_data.loadBalancer.sticky.cookie.name | default('lb') }}"
{% endif %}
{% endif %}
{% endfor %}

{% endif %}
{% if service_config.middlewares is defined %}
  middlewares:
{% for middleware_name, middleware_config in service_config.middlewares.items() %}
    {{ middleware_name }}:
{{ middleware_config | to_nice_yaml | indent(6, true) }}
{% endfor %}
{% endif %}